registry=https://npm-412898606600.d.codeartifact.us-east-1.amazonaws.com/npm/capivara-solidaria-ts-sdk/
//npm-412898606600.d.codeartifact.us-east-1.amazonaws.com/npm/capivara-solidaria-ts-sdk/:_authToken=${CODEARTIFACT_AUTH_TOKEN}